h1 {
	text-align: center;
	font-family: 'Times New Roman';
}

p{
	text-align: justify;
	margin: 16px 256px;
	font-family: 'Times New Roman';
}

div{
	text-align: center;
	padding: 16px;
}